<!DOCTYPE html>
<html>
<head>
<style>

<a href="main.css"</a>

h1 {
background-color: blue;
}

#a {
background-color: red;
}

#b {
background-color: #FF00FF;
}

#c {
background-color: #FF6699;
}

#d {
background-color: #FF99FF;
}

#e {
background-color: #9900FF;
}

#f {
background-color: #9966FF;
}

#g {
background-color: #9999FF;
}

#i {
background-color: #99FFFF;
}

#j {
background-color: #660000;
}

#k {
background-color: #666600;
}

#l {
background-color: #669900;
}

#m {
background-color: #66FF00;
}

#n {
background-color: #000066;
}

#o {
background-color: #003300;
}

#p {
background-color: #009900;
}

#q {
background-color: #00FF00;
}

#w {
background-color: #009900;
}

#x {
background-color: #00CC33;
}

#y {
background-color: #999966;
}

#z {
background-color: #CCFF33;
}

a:hover{
color: #FF00FF;
}

</style>

</body>
<html>
